.container{
    padding: 0 3em;
    color: white;
}

.loginCard {
    position: relative;
    box-sizing: border-box;
    width: 40%;
    max-width: 800px;
    height: 300px;
    background-position: center;
    background-size: cover;
    margin: 4vh auto;
    border-radius: 4px;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, .4);
    color: white;
    padding: 2vh 10%;
}

.Error{
    height: 2em;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(235, 85, 85);
    background-color: rgb(255, 147, 147);
    text-align: center;
    padding: 5px 0;
}

.loginCard form {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 80%;
    flex-direction: column;
}

.loginCard input{
    height: 2rem;
    color: white;
    outline: none;
    margin: 1rem 0;
    border: none;
    font-size: 20px;
    border-bottom: 1px solid white;
    background: none;

}
.loginCard input::after{
    height: 2rem;
    color: white;
    background: none;

}
.loginbtn {
height: 4em;
background-color: rgb(10, 9, 9);
border: none;
color: white;
font-size: 20px;
font-weight: 100;
}

.navbar {
    position: absolute;
    top: 2em;
    right: 5em;
    width: 10em;
  }
  
  .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .navbar li {
    list-style: none;
    font-weight: 100;
  }
  
  